# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.cache/
# Build directory
public/
.DS_Store
yarn-error.log
.env
.idea/.gitignore
.idea/gkw-io.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
package-lock.json
